<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Keskustelupalsta</h1>

        <!--        <ol>
                    <li th:each="aihealue: ${aiheet}">
                        <span th:text="${aihealue.otsikko}">opiskelijan nimi</span> <a th:href="${'/aiheet/' + aihealue.id + '?page=1'}">linkki</a>
                    </li>
                </ol>-->

       

        <table>
            <tr>
                <th>Alue</th>
                <th>Viestejä yhteensä</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="aihealue: ${aiheet}">
                <td><a th:href="${'/alue/' + aihealue.id + '?page=1'}" th:text="${aihealue.otsikko}">otsikko</a></td>
                <td th:text="${aihealue.viesteja}">viesteja</td>
                <td th:text="${aihealue.uusinViesti}">viimeisin</td>
            </tr>
        </table> 
        
        <form method="POST">
            <input type="text" name="otsikko"/>
            <input type="submit" value="lisää aihealue"/>
        </form>

    </body>
</html>